<h1>{{links.title}}</h1>, <a href={{links.url}}>{{links.url}}</a>
<br/>
<hr/>
<h2>Comments</h2>

<div class="content">
	{{#each links.comments as |comment|}}
		<div class="username"><strong>{{comment.name}}</strong> <i>says</i>:</div><div class="comment">{{comment.text}}</div><br>
	{{/each}}
</div>

{{#if err.errors.name}} 
	<div class="error">
	{{err.errors.name.message}}
	</div>
{{/if}}

<form method="POST" action={{links.slug}}>
	Comment: <input type="text" name="text" value="">	
	<input type="submit" value="Add Comment"/>	
</form>

<br><a href="/foodienetwork">back to foodienetwork</a>