<h1>{{restaurants.name}}</h1>

<div class="error">
{{#if err}}
	{{#each err.errors}}
		{{message}}
	{{/each}}
{{/if}}</div>

<div class="description">
<p>Description: {{restaurants.description}}</p>
</div>

<div class="type">
<p>Type of Food: {{restaurants.type}}</p>
</div>

<div class="price">
<p>Price Range: {{restaurants.priceRange}}</p>
</div>

<div class="upvotes">
<p>Rating: {{restaurants.upvotes}}</p>
</div>

<form method="GET" action="/goodeats">
	<input name="button" type="submit" value="Upvote This Restaurant">
</form>